{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <p>Wall of shame</p>
        </div>
        <div class="row">
            <div class="span12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>project</td>
                            <td>errors</td>
                            <td>warnings</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Indico</td>
                            <td>+9000</td>
                            <td>+9000</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Indico</td>
                            <td>+9000</td>
                            <td>+9000</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Indico</td>
                            <td>+9000</td>
                            <td>+9000</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Indico</td>
                            <td>+9000</td>
                            <td>+9000</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Indico</td>
                            <td>+9000</td>
                            <td>+9000</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Indico</td>
                            <td>+9000</td>
                            <td>+9000</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Indico</td>
                            <td>+9000</td>
                            <td>+9000</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Indico</td>
                            <td>+9000</td>
                            <td>+9000</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Indico</td>
                            <td>+9000</td>
                            <td>+9000</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Indico</td>
                            <td>+9000</td>
                            <td>+9000</td>
                        </tr>
                        {#{% for project in projects %}#}
                        {#{% endfor %}#}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
